{% block body %}




 {% load crispy_forms_tags %}

  <div class="content-section" style="max-width: 500px; margin-left: 50px;">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Vegetable Registration Form</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Register</button>
          </div>
      </form>

  </div>

{% endblock %}